@page
@model Baldin.SebEJ.Gallery.Web.Pages.Gallery.IndexModel
@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>
<a asp-page="/Gallery/Ranking">Rank</a>

<div class="row">
    <div class="col-4">
        <form enctype="multipart/form-data" method="post">
            <input asp-for="Photo" class="form-control-file" />
            <button class="btn btn-primary" type="submit">Upload</button> | 
            <button type="button" class="btn btn-primary" onclick="getPhotos();"><i class="fas fa-sync-alt"></i></button>
        </form>
    </div>
</div>

<hr />


<div class="row" id="gallery">
    @foreach (var item in Model.Pictures)
    {
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="@item.Url" alt="Card image cap">
            <div class="card-body">
                <!--<h5 class="card-title">title</h5>-->
                <!--<p class="card-text">descr</p>-->
                <div id="card_board_@item.Id">
                    @if (!item.IsVoted)
                    {
                        <form>
                            <div class="row">
                                <div class="col">
                                    <select name="vote" id="vote_@item.Id" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <button type="button" onclick="voteImage(@item.Id);" class="btn btn-primary btn-block">Vote</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-6">
                                <i class="fas fa-star"></i> @item.Rating.ToString("#.#")
                            </div>
                            <div class="col-6">
                                <i class="fas fa-poll"></i> @item.Votes
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
        }
</div>

@section Scripts {
    <script src="~/js/gallery.js"></script>
}
