@page
@model Baldin.SebEJ.Gallery.Web.Pages.Gallery.RankingModel
@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>
<a asp-page="/Gallery/Index" asp-route-pg="1">Gallery</a>

<hr />
<div class="row">
    @foreach (var item in Model.Pictures)
    {
        <div class="col-md-4 col-sm-6">
            <div class="card" style="margin-bottom: 25px;">
                @if (!string.IsNullOrEmpty(item.Thumbnail_Url))
                {
                    <img class="card-img-top" style="height: 300px;" src="@item.Thumbnail_Url" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" style="height: 300px;" src="@item.Url" alt="Card image cap">
                }
                <div class="card-body">
                    <!--<h5 class="card-title">title</h5>-->
                    <!--<p class="card-text">descr</p>-->
                    <div id="card_board_@item.Id">
                        <div class="row">
                            <div class="col-6">
                                <i class="fas fa-star"></i> @item.Rating.ToString("0.#")
                            </div>
                            <div class="col-6">
                                <i class="fas fa-poll"></i> @item.Votes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>