@page
@model Baldin.SebEJ.Gallery.Web.Pages.Gallery.RankingModel
@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>
<a asp-page="/Gallery/Index">Gallery</a>

<hr />
<div class="row">
    @foreach (var item in Model.Pictures)
    {
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="@item.Url" alt="Card image cap">
                <div class="card-body">
                    <!--<h5 class="card-title">title</h5>-->
                    <!--<p class="card-text">descr</p>-->
                    <div id="card_board_@item.Id">
                        <div class="row">
                            <div class="col-6">
                                <i class="fas fa-star"></i> @item.Rating.ToString("#.#")
                            </div>
                            <div class="col-6">
                                <i class="fas fa-poll"></i> @item.Votes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>