@page
@model Baldin.SebEJ.Gallery.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col text-center">
        <h1>About</h1>
        <br />
        <p>This project is made with ASP.NET Core, use Redis for caching and PostgreSQL as main database.</p>
        <p>You can find the source code <a href="https://github.com/sebejbaldin/photogallery" target="_blank">here</a>.</p>
        <p>This is a school project, so please don't abuse it.</p>
        <p>If you are here to, why don't take a tea instead? ;)</p>
        <img src="~/res/undraw_mint_tea_7su0.svg" class="img-fluid" />
    </div>
</div>