@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this Photogallery!</h1>
    <img src="~/res/undraw_fireworks_q5ji.svg" class="img-fluid" />
</div>
